#footer {
    width: 100%;
    height: 36px;
    background-color: #c9c9c98f;
    border-top: 1px solid #b5b5b58f;
    .container {
        width: 100%;
        height: 100%;
        .content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:space-between;
            .left {

            }
            .right {}
            ul {
                width: 100%;
                display: flex;
                align-items: center;
                li {
                    span {

                    }
                }
            }
        }
    }
}