#header {
    width: 100%;
    height: 40px;
    background-color: #adadad95;
    .container {
        width: 100%;
        .content {
            width: 100%;
            ul {
                width: 100%;
                display: flex;
                li {}
            }
        }
    }
}