#window {
    width: 100%;
    height:40px;
    background: #d3d3d35b;
    transition: box-shadow 0.25s ease-in-out;
    &:hover {
        box-shadow: 1px 1px 10px #999;
        background: linear-gradient(#d3d3d35b, #adadad95);
    }
    .container {
        width: 100%;
        height: 100%;
        .title {
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 10px 0;
            position: relative;
            span {
                font-size: 16px;
            }
            .input-box {
                height: 100%;
                display: flex;
                align-items: center;
                position: absolute;
                align-items: center;
                top: 0;
                right:10px;
                input {
                    width: 330px; 
                    height:22px;
                    background-color: transparent;
                    border: 0.2px solid #c8c8c8;
                    border-radius: 4px;
                    padding-left: 30px;
                    outline-color: #e97132 ;
                    outline-offset: 1px;
                    outline-width: 14px;
                    background: url('../../../public/img/icon/0d1058544686e78d80d0e2feb5f09c00.jpg') no-repeat 10px;
                    background-position: 5px;
                    background-size: 18px;
                    
                    &::placeholder {
                        font-size: 12px;
                        font-weight: 600;
                    }

                }
            }
        }
    }
}